.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.829); /* background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-logo {
  width: 150px; /* adjust size */
  height: auto;
  animation: zoomInOut 1.5s ease-in-out infinite;
}

/* Zoom in and out animation */
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
