.login-page {
  background-color: #f8f9fa;
}

.login-box {
  width: 100%;
  max-width: 60%;
}

.login-logo-img{
    max-height: 66vh;
}

.input-group-text {
  background: #fff;
  border-right: none;
}

.form-control {
  border-left: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #86b7fe;
}

.btn-primary {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.btn-primary:hover {
  background-color: #2563eb;
}

@media (max-width: 768px) {
  .login-box {
    max-width: 100%;
  }
}
